@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply bg-background;
  @apply text-white;
}

/* For Webkit browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* For Microsoft Edge (older versions) */
input[type="number"]::-ms-clear,
input[type="number"]::-ms-reveal {
  display: none;
}
